* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 20px;
    background: #d8df99;
    line-height: 1.6;
}
h1 {
    color: rgb(255, 255, 255);
     animation: animacao-titulo 8s infinite linear;
}
h1 img{
    width: 200px;
    height: 200px;
}
.faq-container {
    width: 800px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    animation: iniciar-faq 1s;
}
.faq-item {
    margin-bottom: 15px;
    border: 1px solid #dcdf3d;
    border-radius: 8px;
    overflow: hidden;
}
.faq-pergunta {
    cursor: pointer;
    background: #759113;
    color: #fff;
    padding: 15px 40px;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    /* display: block; */
}
/* Remove o marcador padrão, permitinddo que adicione seu próprio marcador */
.faq-pergunta::marker {
    content: "";
}
/* Adiciona o ícone de + inicial */
.faq-pergunta::before {
    content: "+";
    position: absolute;
    inset-inline-end: 15px;
    transition: transform 0.3 ease;
    font-size: 1.2rem;

}
/* Muda o ícone para - quando estiver aberto */
.faq-item[open] .faq-pergunta::before {
    content: "-";
    transform: rotate(180deg);
}
.faq-resposta {
    padding: 15px;
    background: #e3e9a9;
    color: #7e7d36;
    font-size: 20px;
}
.faq-item[open] .faq-resposta {
    border-top: 10px solid #ffffff;
    animation: abrir-faq 2s;
}
@keyframes animacao-titulo {
    0% {

        margin-left: -10%;
    }
    20% {

    }
    40% {

    }
    60% {
    }
    80% {
    }
    100% {
        margin-left: 110%;
    }
}
@keyframes iniciar-faq {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 22.5%;
    }
}
@keyframes abrir-faq {
    0% {
        opacity: 0;
        transform: translateX(-500px);
        border-top-width: 0px;
    }
    50% {
        opacity: 1;
        transform: translateX(0);
        border-top-width: 0px;
    }
    100% {
        border-top-width: 10px;
    }
}

#Elenco{
    color: #006437;
    font-weight: bold;
    cursor: pointer;
}
